In [1]:
tup = ('hello', object(), 42)

In [2]:
tup

('hello', <object at 0x7fa20c4c38d0>, 42)

In [3]:
tup[2]

42

In [4]:
tup[2] = 23

TypeError: 'tuple' object does not support item assignment

In [5]:
from collections import namedtuple

In [6]:
Car = namedtuple('Car', 'color mileage')

In [7]:
'color mileage'.split()

['color', 'mileage']

In [9]:
Car = namedtuple('Car',['color','mileage'])

In [10]:
my_car = Car('red', 36864.4)
my_car.color

'red'

In [11]:
my_car.mileage

36864.4

In [12]:
my_car[0]

'red'

In [13]:
color, mileage = my_car

In [14]:
print(color, mileage)

red 36864.4

In [15]:
print(my_car)

Car(color='red', mileage=36864.4)

In [16]:
my_car.color = 'blue'

AttributeError: can't set attribute

## Subclass Named Tuples

In [17]:
Car = namedtuple('Car','color mileage')

In [18]:
class MyCarWithMethods(Car):
    def hexcolor(self):
        if self.color == 'red':
            return '#ff0000'
        else:
            return '#000000'

In [19]:
c = MyCarWithMethods('red', 1234)

In [21]:
c.hexcolor()

'#ff0000'

In [24]:
c.mileage

1234

In [25]:
c.color

'red'

In [26]:
ElectricCar = namedtuple('ElectricCar', Car._fields + ('charge',))

In [28]:
ElectricCar('red', 1234, 45.0)

ElectricCar(color='red', mileage=1234, charge=45.0)

## Built-in Helper Methods

In [29]:
my_car._asdict()

OrderedDict([('color', 'red'), ('mileage', 36864.4)])

In [32]:
import json

In [34]:
json.dumps(my_car._asdict())

'{"color": "red", "mileage": 36864.4}'

In [35]:
my_car._replace(color='Blue')

Car(color='Blue', mileage=36864.4)

In [36]:
Car._make(['red', 999])

Car(color='red', mileage=999)